
 {{#if cartid}}
<div><a href="/cart/{{cartid}}">ver carrito</a></div>
{{/if}}
<div>
    <center>
        <h1>Productos</h1>
        <h2>{{product.title}}</h2>
        <h4>Descripción:</h4>
        <p>{{product.description}}</p>
        <h4>Precio:</h4>
        <p>{{product.price}}</p>
        <h4>Código:</h4>
        <p>{{product.code}}</p>
        <h4>Stock:</h4>
        <p>{{product.stock}}</p>

         <form action="/api/carts/{{cartid}}/products/{{product._id}}" method="POST">

            <label for="quantity">Cantidad:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="{{product.stock}}" value="1">
            <button type="submit">Agregar al carrito</button>
        </form>
        <a href="/products">Volver a todos los productos</a>
    </center>
</div>