
<ul id="products">
  {{#each products}}
    <li>{{this.title}} - {{this.description}} - {{this.price}} - {{this.code}} - {{this.stock}}</li>
  {{/each}}
</ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>